# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# IDEs and editors
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Build directories
dist/
build/

